.container {
  display: flex;
  justify-content: center;
}
.add-button {
  float: right;
}
.listItem {
  position: relative;
  width: 240px;
}
.card {
  width: 100%;
}
.cardAvatar {
  width: 100%;
  padding-left: 16px;
}
